// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: $background-color;
}

.header__title {
  margin: 0;
}